<div class="margin-main"></div>
<app-message-bar></app-message-bar>
<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Connexion</h2>
          <p>Entrez les informations pour vous connecter</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Identifiant" formControlName="username" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Entrez les informations pour vous connecter
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Veuillez entrer le mot de passe
            </mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button class="login-button" color="primary">Connexion</button>
          <button mat-raised-button routerLink="/subscribe" color="primary">S'inscrire</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>