<mat-drawer-container>
    <mat-drawer opened="true" mode="side">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="login" mat-button>Connexion</button>
        </mat-list-item>
        <mat-list-item *ngFor="let route of routes">
            <button [routerLink]="route.path" mat-button>{{ route.label }}</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">
            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>