.margin-main {
    margin-bottom: 3rem;
}

.first-container {
    width: 80%;                /* 80% de la largeur de la page */
    margin: 0 auto;            /* Centrer le conteneur horizontalement */
    padding: 20px;              /* Ajoute un peu de padding pour l'espacement interne */
    background-color: #f0f0f0;  /* Couleur d'arrière-plan pour visualiser le conteneur */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optionnel : une légère ombre pour l'effet visuel */
    /* margin-bottom: 3rem; */
  }